{% extends "padre.html" %}

{% block contenido_base %}

        <section class="py-3 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://www.candlefox.com/images/scau/subject/makeup_6658.jpg" alt="..." /></div>
                    <div class="col-lg-4">
                        <h2 class="fw-bolder">✨¿Quién soy?</h2>
                        <p class="lead fw-normal text-muted mb-0">Soy una Ingeniera Industrial apasionada por el maquillaje, siempre aprendiendo y buscando las últimas tendencias para traérselas a ustedes!</p>
                        </div>
                    </div>
                </section>
                
                <section class="py-0">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src=https://akcdn.detik.net.id/api/wm/2020/12/31/inilah-manfaat-rutinitas-makeup-untuk-kesehatan-mental-bagi-tiap-wanita_169.jpeg alt="..." /></div>
                            <div class="col-lg-6">
                                <h2 class="fw-bolder">💜Acerca de mí</h2>
                                <p class="lead fw-normal text-muted mb-0">Me llamo Lizeth García Ravazze, actualmente trabajo en el sector financiero en la parte de proyectos. Sin embargo como pasatiempo, maquillo a todas mis amigas y familiares.</p>
                                <br>
                                </p>
                                <p>
                            </div>
                        </div>
                    </p>   
{% endblock contenido_base %}